.container-main {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  min-height: 520px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 50%;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.container-main.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.container-main.right-panel-active .sign-up-container {
  transform: translateX(100%);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, hsl(var(--primary)), #25a186);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: hsl(var(--primary-foreground));
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

/* Animations */

.sign-up-container, .sign-in-container {
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.form-container {
  width: 50%;
}

.sign-up-container {
    left: 0;
    z-index: 1;
}

.sign-in-container {
    left: 0;
    z-index: 2;
}

.container-main .sign-in-container {
    transform: translateX(0);
}

.container-main .sign-up-container {
    transform: translateX(0);
    opacity: 1;
}

.container-main.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container-main.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.container-main.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container-main.right-panel-active .overlay {
  transform: translateX(50%);
}

.container-main.right-panel-active .overlay-left {
  transform: translateX(0);
  opacity: 1;
  z-index: 5;
}

.container-main.right-panel-active .overlay-right {
  transform: translateX(20%);
  opacity: 0;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Remove default ShadCN styles that conflict */
.form-container .w-full {
  max-width: 320px;
}
