@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 60% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 120 60% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 120 60% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 108 42% 62%;
    --primary-foreground: 108 30% 15%;
    --secondary: 117 40% 85%;
    --secondary-foreground: 117 30% 25%;
    --muted: 117 40% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 117 42% 75%;
    --accent-foreground: 117 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 117 30% 88%;
    --input: 117 30% 88%;
    --ring: 108 42% 62%;
    --chart-1: 108 42% 62%;
    --chart-2: 117 42% 75%;
    --chart-3: 117 30% 25%;
    --chart-4: 117 40% 85%;
    --chart-5: 108 30% 15%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 108 42% 62%;
    --primary-foreground: 108 50% 15%;
    --secondary: 117 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 117 20% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 117 42% 75%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 117 20% 25%;
    --input: 117 20% 25%;
    --ring: 108 42% 62%;
    --chart-1: 108 42% 62%;
    --chart-2: 117 42% 75%;
    --chart-3: 117 30% 25%;
    --chart-4: 117 40% 85%;
    --chart-5: 108 30% 15%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
